.open-sans-normal
 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* shared style */
  .text-primary
  {
    color: #FD6E0A;
  }

  /* colour */
  .dark-2
  {
    color: #474747;
  }

  /* button */
  .btn-primary
  {
    background-color: #FD6E0A;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
  }
  .btn-primary-1
  {
    background-color: white ;
    color: #FD6E0A;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 8px;

  }

  /* header */
  .header
  {
    background-image: url("../images/developer.png") ,url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left , right bottom;
  }

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 170px;
}
.nav-title
{
     font-weight: 72px;
     font-size: 42px;
}
nav ul
{
    display: flex;
    align-items: center;
}
nav ul li
{
    list-style: none;
    margin-right: 42px;

}
nav li a
{
    text-decoration: none;
    font-size: 18px;
    
}
/* banner styles */
.banner
{  
    margin: 150px 28px 0 200px;
    display: flex;
    justify-content: space-between;
}
.banner .banner-content
{
    max-width: 493px;
}
.banner .banner-content .banner-G
{
    font-size: 25px;
    color: #474747;
}

.banner-P
{
    align-items: center;
    opacity: 0.8;
}
.banner .banner-content .banner-title
{
    font-weight: bold;
    font-size: 50px;
}
.handry-img
{
    width: 496px;
    height: 574px;
}

/* ABOUT us */
.main{
    justify-content: center;
    background-color: white;
   padding: 151px;
     

}
.about
{
    background-color: #fdecdf;
    padding: 111px 133px;
    
}
.about .information
{
    background-color: white;
    text-align: center;
    Width:702px;
    Height: 244px;
    border: 2px solid gray;
    padding: 8px;

}
.about .information .P-info
{
    width: 554px;
    padding-top: 30px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    font-size: small;
    
}
/* WHAT I d */

.banner-P1
{
    width: 772px;
    height: 76px;
    text-align: center;
    opacity: 0.6;
    padding-left: 360px;
}

.flexdiv
{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 100px;
}
.box
{
    width: 226px;
    height: 290px;
    background-color: #fff8f3;
    border-radius: 10px;
}
.msg
{
    width: 133px;
    height: 206px;
    padding-left: 15px;
}
.f-img
{
    padding-left: 15px;
    padding-top: 15px;
}

/* A summary of My Resume */

.D-3
{
    width: 434px;
    height: 148px;
}
.second-last
{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding-top: 30px;
    padding-left: 80px;
    
}
.edit-btn-shape
{
    padding-top: 90px;
    margin: auto;
    text-align: center;
}

/* FOOTER */
.Footer
{
    margin-top: 50px;
    height:auto;
    display: flex;
    background-color: #fdecdf;
    
}
.F-left
{
    justify-content: center;
    padding-top: 100px;
}
.f-img{
    text-align: left;
    display: flex;
}
.F-p
{
     padding-left: 180px; 
    text-align: left;
    width: 477px;
    height: 47px;
}

.F-right
{
    text-align: center;
    padding-top: 90px;
    padding-left: 150px;
}
.input-box
{
    width: 320px;
    height: 38px;
    border: none;
    border-radius: 10px;
}
.msg-box
{
    width: 320px;
    height: 100px;
    border: none;
    border-radius: 10px;
}